:where(.css-dev-only-do-not-override-apn68).ant-upload-wrapper {
  display: flex;
}

:where(.css-dev-only-do-not-override-apn68).ant-upload-wrapper .ant-upload-list {
  padding-left: 10px;
}

.ant-upload-drag {
  height: 300px;
}